@use '../abstract/variables';

.attribution {
    padding: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: variables.$darker-gray;

    &__link {
        text-decoration: none;
        color: variables.$dark-gray;

        &:hover,
        &:active {
            color: #4b51b1;
        }
    }
}
