@use '../abstract/typography';
@use '../abstract/variables';

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    @media only screen and (max-width: variables.$bp-medium) {
        font-size: 43.75%;
    }

    @media only screen and (max-width: variables.$bp-small) {
        font-size: 31.25%;
    }
}

body {
    font-family: typography.$font-primary;
    color: variables.$darker-gray;
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
